<html>
	<title>deadrop.cc - About</title>

	<head>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	</head>

	<body>
		<center>
			<div id='logo'>
				<a href='/'><img src='../static/images/logo.gif' /></a>
			</div>
			<div id='form'>
				<p>
					Dead Drop is a one-time-link sharing system.  After you upload a file, a random unique link will be generated.  This link is only good for one visit.  Once visited, the link will be removed from the database and the file on the server destroyed.
				<p>
					<b><em>NOTE:</b></em>
					Currently, there is no encryption.  If you upload a file containing sensitive information, it is up to you as the user to encrypt that file before hand.
			</div>
		</center>
		<div id="footer">
			<center>
				<a href='http://github.com/nickpetty/deadrop'>View on Github</a> | <a href="http://ihackeverything.com/">I Hack Everything</a> | <a href="/about">About</a>
				<br>
				built on web.py
			</center>
		</div>
	</body>
</html>
