$def with (link)

<html>
	<title>dead drop</title>

	<head>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	</head>

	<body>
		<center>
			<div id='logo'>
				<a href="/"><img src='../static/images/logo.gif' /></a>
			</div>
			<div id='form'>
				This link is only good for <b>ONE</b> visit!<br>
				$:link
			</div>
		</center>

		<div id="footer">
			<center>
				<a href='http://github.com/nickpetty/deadrop'>View on Github</a> | <a href="http://ihackeverything.com/">I Hack Everything</a> | <a href="/about">About</a>
				<br>
				built on <a href='http://webpy.org/'>web.py</a>
			</center>
		</div>		
	</body>
</html>